:root {
    --primary-bg-color: #f7e0c1;
    --secondary-bg-color: #FFAAC9;
    --accent-color-1: #AED530;
    --accent-color-2: #F14C4C;
}

html,
body {
    font-family: "Molengo", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    background-color: var(--primary-bg-color); 
}

h1, h2, .nav a {
    font-family: "Abril Fatface", serif;
    letter-spacing: 1px;
}

#main-header {
    display: flex;
    justify-content: center;
}

#main-header span h1 {
    margin: 0;
    font-size: 3.8rem;
    text-shadow: var(--secondary-bg-color) 2px 0 15px;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0 .8rem;
    padding: 1rem 5vw 0;
     border-bottom: 2px solid #ffffff;
    padding-bottom: .5rem;
}

.nav a {
    text-decoration: none;
    color: var(--accent-color-2);
    font-size: 1.75rem;
    text-shadow: var(--accent-color-1) 2px 0 15px;
}

.nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 4rem;   /* controls spacing between links */
}

#main-content {
    background-color: var(--secondary-bg-color);
    padding: 1.25rem;
    margin: 0 1.5rem;
}

.section-header {
    margin: 0;
}

.section-header h2 {
    font-size: 1.75rem;
    margin: 0;
}

.container {
    padding: 0 2rem;
}

.section-img {
    border: solid white;
    border-width: 2px 0;
    padding: 1rem;
    margin: .8rem 0;
    width: 320px;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 1rem 1.5rem 0;
}

.banner img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border: 3px solid #FFFFFF; /* thin white border */
    border-radius: 15px; /* rounded corners */
}

.float-box {
    float: right;
    width: 500px;
    margin: 0 0 1.5rem 2rem;
}

.float-box img {
    width: 100%;
    border-radius: 12px;
    border: 3px solid #FFFFFF;
}

.steps {
    padding-left: 2rem;
}

.step-title {
    font-weight: bold;
    color: #F14C4C; /* hex color requirement */
}